[2019-01-10 13:01] ibc opened #1 "Update libsdptrasform to 1.2.2"
It's better.

[2019-01-10 13:02] ibc opened #2 "Naming stuff"
Just "divagating":

* If this is a C or C++ library, it's name may/should be `libmediasoupclient`.
* `./build/test/test_mediasoup-client` (my eyes!).

[2019-01-10 13:22] #2 closed, assigned to nobody

[2019-01-10 13:26] #1 closed, assigned to nobody

[2019-01-10 13:32] ibc opened #3 "ortc.getReceivingFullRtpParameters() is just for Plan-B"
It just makes sense for Plan-B in which all the receiving tracks must share the very same RTP parameters. However, in Unified-Plan each remote Producer RTP parameters are kept.

I mean: `getReceivingFullRtpParameters()` could just be removed.

[2019-01-10 13:37] ibc opened #4 "Avoid JSON value copy in return"
The signature of `json PeerConnection::GetNativeRtpCapabilities()` could be:

[code]

So internally it fills `jsonObject["codecs"]`, etc.

Also, in:

[code]

the very same:

[code]

[2019-01-10 13:44] ibc opened #5 "Move Utils::isValidSpatialLayer() to VideoLayers.hpp"
To be in sync.

https://github.com/versatica/mediasoup-client/blob/master/lib/videoLayers.js

Also, `optional` option no longer needed.

BTW: Shouldn't all C++ methods start with uppercase?

[2019-01-10 13:49] ibc opened #6 "Use auto* with pointers"
To be more descriptive:

[code]

[2019-01-10 13:52] ibc opened #7 "Return json as reference"
In Device.hpp:

[code]

`this->recvRtpCapabilities` already exists within the Device memory so it's safe to return it as reference.

This may happen in other places.

[2019-01-10 15:02] #4 closed, assigned to nobody

[2019-01-10 21:13] #3 closed, assigned to jmillan

[2019-01-10 21:22] #5 closed, assigned to nobody

[2019-01-10 21:27] #6 closed, assigned to nobody

[2019-01-10 21:30] #7 closed, assigned to nobody

[2019-01-15 18:51] ibc opened #8 "Refactor spatialLayers stuff"
Related commit in mediasoup-client: https://github.com/versatica/mediasoup-client/commit/22ab43cde455d318ebc066671b39aa4c849a5731?ts=2

NOTE: Since I cannot test this is real browsers, it would be nice to test how the resulting SDP looks like in libmediasoupclient.

[2019-01-17 15:04] jmillan opened #9 "Implement custom Exceptions"
'A la [MediaSoupErrors](https://github.com/versatica/mediasoup/blob/v3/worker/include/MediaSoupErrors.hpp)

[2019-01-18 12:47] ibc opened #10 "Use bigger buffers in reception"
There is a experiment/flag/trial in WebRTC to use bigger buffers in reception. This would be useful for the broadcasting scenario, so if we find where to set it, it should be an option (not hardcoded).

However, more buffering means more possible delay.

[2019-01-22 17:05] ibc opened #11 "Remove transport.on('startConsumer') event"
It's an artifact. JS commit here: https://github.com/versatica/mediasoup-client/commit/026445f9a8cc321af235f92f936b6a67cac845b9

[2019-01-22 17:12] #11 closed, assigned to jmillan

[2019-01-23 03:39] #8 closed, assigned to jmillan

[2019-01-23 11:51] ibc opened #12 "Multi arguments vs Object"
In the JS version we use Object as argument in most of the public API. This is to allow easy extensibility and to not force the user to set useless parameters (such as `maxSpatialLayer` when in an audio Producer).

The C++ uses multi arguments:

[code]

**NOTE:** It should be `json& simulcast` and `json& appData` BTW.

So if I want to send a simple audio track I must do this:

[code]

Tomorrow we

[2019-01-23 12:00] ibc opened #13 "Exposed public API (namespace required)"
I assume that `mediasoupclient.hpp` is the public header file that users should include into their apps. It looks as follows:

[code]

AFAIS it's exporting the following symbols:

* `SendTransportListener`
* `TransportListener`
* `ConsumerListener`
* `ProducerListener`

Those public symbols should be within the `mediasoupclient` namespace.

[2019-01-23 12:06] ibc opened #14 "std::move() in constructors, safe?"
[code]

`id(std::move(id))` means that such a string will be "mem-moved" to here. Is this really safe? What would happen if the called want to print such a `id` (that it got somehow from the server) after producer is done?

[2019-01-27 01:27] #13 closed, assigned to nobody

[2019-01-27 01:28] #14 closed, assigned to nobody

[2019-01-28 12:00] ibc opened #15 "Replace `simulcast` with `encodings`"
We can properly provide the PeerConnection with an array of `encodings` ([RTCRtpEncodingParameters](https://www.w3.org/TR/webrtc/#dom-rtcrtpencodingparameters) as per spec) rather than passing a pseudo `simulcast` array which does not scale well.

For example, the app may wish to send a single audio or video encoding (no simulcast) and set its max bitrate or framerate.

Done in JS: https://github.

[2019-01-28 12:24] ibc opened #16 "Missing code in Handler::Send()"
In case of finding an inactive transceiver, the code is not **reseting** its `RtpSender` parameters. It must do it (otherwise the parameters/encodings of the previously sent track are applied to the new track). This is done in the JS client:

https://github.com/versatica/mediasoup-client/blob/master/lib/handlers/Chrome70.js#L166

Actually there is a good reason for every line of code in the JS cli

[2019-01-28 20:13] #15 closed, assigned to jmillan

[2019-01-28 20:13] #12 closed, assigned to nobody

[2019-01-28 20:17] #16 closed, assigned to nobody

[2019-01-28 20:22] #10 closed, assigned to nobody

[2019-02-03 20:08] ibc opened #17 "Proper CMake usage"
Here a good reference: https://izzys.casa/2019/02/everything-you-never-wanted-to-know-about-cmake/

[2019-02-03 21:53] #17 closed, assigned to nobody

[2019-02-04 00:39] jmillan opened #18 "Refactor: get rid of generic arguments"
https://github.com/versatica/mediasoup-client/commit/9c61f48fb2da0a7dfcb7a7748a0d11e9c4fd955f

[2019-02-04 00:40] ibc opened #19 "Refactor API parameters"
* [Commit](https://github.com/versatica/mediasoup-client/commit/9c61f48fb2da0a7dfcb7a7748a0d11e9c4fd955f) in mediasoup-client v3.

Refactor: replace ugly `transportRemoteParameters`, `consumerRemoteParameters`, `transportLocalParameters`, `producerLocalParameters`, etc. with destructuring Objects with proper and well known keys.

Note that there is also this naming change:

[code]

[2019-02-04 00:40] #18 closed, assigned to nobody

[2019-02-06 21:56] jmillan opened #20 "All listener callbacks must take the `emitter` as the first argument"

[2019-02-06 23:11] ibc opened #21 "Fix a=mid super long values in receiving PeerConnection"
As explained here: https://github.com/versatica/mediasoup-client/issues/64 (not fixed yet).

It does not affect libwebrtc, but must be fixed anyway because libwebrtc will eventually support MID header extension.

[2019-02-07 00:49] ibc opened #22 "DTLS remote role not set in remote SDP"
Fixed in the JS client here: https://github.com/versatica/mediasoup-client/commit/6b49fabb2fdc15a6302668dcf63225025b5a8619

Related issue: https://github.com/versatica/mediasoup-client/issues/65

NOTE that it works in Chrome (somehow, magic!) but it's a nice bug anyway.

[2019-02-07 13:58] #19 closed, assigned to jmillan

[2019-02-07 14:08] #21 closed, assigned to jmillan

[2019-02-07 14:40] #22 closed, assigned to jmillan

[2019-02-07 15:10] #20 closed, assigned to nobody

[2019-02-13 12:31] ibc opened #23 "Take into account Router codec parameters to generate our SDP answers"
Commit in mediasoup-client: https://github.com/versatica/mediasoup-client/commit/4d6391b7a90dc905b992a1eeaa0de0c2b053c5b1?ts=2

[2019-02-26 23:39] ibc opened #24 "sendTransport.produce(): add codecOptions"
This makes it possible to enable OPUS stereo and even DTX.

[Related commit](https://github.com/versatica/mediasoup-client/commit/54741be3e1a77b400877df44bc0e76abf6c59b44) in mediasoup-client JS.

[2019-03-07 14:14] #23 closed, assigned to jmillan

[2019-03-07 14:14] #24 closed, assigned to jmillan

[2019-03-07 14:16] ibc opened #25 "Apply changes made in JS client (handlers refactor and codec parameters stuff)"
These changes include the v3 refactor of handlers and SDP stuff and also the codec parameters feature.

* First commit: https://github.com/versatica/mediasoup-client/commit/4d6391b7a90dc905b992a1eeaa0de0c2b053c5b1
* Last commit: https://github.com/versatica/mediasoup-client/commit/413bf5b1f72ee8ce4ee8bb60b40b00a282c707ec
* **Proper diff**: https://github.com/versatica/mediasoup-client/compare/4d63

[2019-03-15 14:48] #25 closed, assigned to jmillan

[2019-03-15 16:24] jmillan opened #26 "Update the handler to the latest libwebrtc"
https://github.com/versatica/mediasoup-client/blob/master/lib/handlers/Chrome75.js

[2019-03-16 14:19] ibc opened #27 "RtpParameters codec: remove `name` and use `mimeType`"
We are using both `codec.name` ("OPUS") and `codec.mimeType` ("audio/OPUS"). As per WebRTC 1.0 spec, `codec.name` no longer exists.

Changes have been done in mediasoup v3 and mediasoup-client v3. Also, H264 codec is matching by also checking the `profile-level-id` value which must be the same as in the Router capabilities.

* mediasoup-client: https://github.com/versatica/mediasoup-client/commit/

[2019-03-16 18:06] ibc opened #28 "MediaSection, dtlsParameters"
[Here](https://github.com/jmillan/libmediasoupclient/blob/master/src/sdp/MediaSection.cpp?ts=2#L17) it's not receiving `dtlsParameters`. Why? It's common for both `AnswerMediaSection` and `OfferMediaSection` subclasses.

[2019-03-19 13:32] ibc opened #29 "produce(): If the app gives a single encoding keep its members in the generated RtpParameters"
Related commit in mediasoup-client JS: https://github.com/versatica/mediasoup-client/commit/c63defc81e01b1fa08d5715b3f8e4650011d68bd?ts=2

This makes it possible to set `maxBitrate` or `dtx`, etc in a single encoding (for audio, for instance, or video with no simulcast).

**NOTE:** This is just for Chrome >= 75.

[2019-03-21 11:41] #27 closed, assigned to jmillan

[2019-03-21 16:49] ibc opened #30 "Some issues"
- [x] sdp/Utils.cpp `getCname()` must not throw:

* https://github.com/versatica/mediasoup-client/blob/master/lib/handlers/sdp/commonUtils.js?ts=2#L185
* https://github.com/jmillan/libmediasoupclient/blob/master/src/sdp/Utils.cpp?ts=2#L345

[2019-03-22 13:07] ibc opened #31 "H264 proper matching"
In the JS version I've created [h264-profile-level-id](https://github.com/ibc/h264-profile-level-id) and this is the commit that enables it:

* https://github.com/versatica/mediasoup-client/commit/385a924875a27946cab92db38b75ca48c534dd07?ts=2

In libmediasoupclient there is no need to implement a separate lib since it can just use libwebrtc (similar API, although you need to use their `CodecParame

[2019-03-22 13:21] #30 closed, assigned to jmillan

[2019-03-22 13:22] #9 closed, assigned to nobody

[2019-03-22 14:22] #28 closed, assigned to jmillan

[2019-04-02 20:29] ibc opened #32 "Signal scalabilityMode: 'L1T3' in encodings if VP8 with simulcast"
Just check the commit in Chrome70 handler in mediasoup-client:

https://github.com/versatica/mediasoup-client/commit/bb3d032c72599a61e01ced0a284463a388b79ce1?ts=2#diff-fff5b78808aed54b3ffac35cc482de64

[2019-04-04 23:53] ibc opened #33 "Add parseScalabilityMode() API"
The `rtpParameters.encodings` of the Consumer may have a `scalabilityMode` string. This new API lets the app parse it.

Some as [here](https://github.com/versatica/mediasoup-client/compare/bb3d032c72599a61e01ced0a284463a388b79ce1..844a9a125d98ff931cb804383362f8dcc0e45035?ts=2).

C++ side of this thing [here](https://github.com/versatica/mediasoup/commit/58903ebfe40694c010ace16f2e58fca7748584ea#dif

[2019-04-06 18:01] #31 closed, assigned to jmillan

[2019-04-06 18:26] #32 closed, assigned to jmillan

[2019-04-06 20:21] #33 closed, assigned to jmillan

[2019-04-07 19:52] jmillan opened #34 "linker warnings due to different symbol visilibity configurations in libwebrtc and the rest of the code"
It looks like the symbol visibility compilation flags must be the same among all the code being linked. Otherwise this kind of linker warnings are thrown:

[code]

These warnings are silenced if every linked piece is set the same visibiliy as libwebrtc does: `-fvisibility=hidden`, which means libmediasoupclient, libsdptransform, and the projects using libmediasoupclient...

Current state is trying

[2019-04-07 22:51] #34 closed, assigned to nobody

[2019-04-14 18:33] ibc opened #35 "Ignore transport-cc RTP header extension for now"
It's being added to mediasoup ([WIP commit](https://github.com/versatica/mediasoup/commit/2f81f278524e3dbadb69f46ebe6abb8767e00c32)) so it must be ignored in client side for now (as done in mediasoup-client [here](https://github.com/versatica/mediasoup-client/commit/292fa6a9685ebcec8406fef67874d141ffa64bdb)).

[2019-04-15 10:55] ibc commented on #35
No, let's do next issue to be reported soon.

[2019-04-15 10:55] #35 closed

[2019-04-15 11:03] ibc opened #36 "Properly negotiate RTP header extensions and codecs' RTCP feedback"
* Properly negotiate RTP extensions based on remote `direction` attribute.
* Properly negotiate per codec "google-remb" and "transport-cc" RTCP feedback based on negotiated RTP extensions.

[Commit](https://github.com/versatica/mediasoup-client/compare/844a9a125d98ff931cb804383362f8dcc0e45035..3a37f31d55b323adbff31887672067f4a206e733?ts=2) in mediasoup-client.

[2019-04-16 15:35] ibc opened #37 "If gcc, require >= 4.9"
gcc 4.8 `regex` support is completely [broken and incomplete](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=53631) so >= 4.9 is required, otherwise it will crash in **runtime** due the `ScalabiliyModeRegex` regex.

[Here](https://github.com/emcrisostomo/fswatch/commit/33ab177380e3954443df75763cbfb5bf502766f0#diff-67e997bcfdac55191033d57a16d1408aR66) a way to detect gcc < 4.9 (just if gcc, it should

[2019-04-16 15:48] ibc commented on #37
I've finally done [this](https://github.com/versatica/mediasoup/commit/736f2e423d4354777473053cbf0f7de2b09fc885) in mediasoup to avoid gcc <= 4.8.

[2019-05-04 15:31] ibc opened #38 "Move README doc to website"
The README has lot of information about installation and linkage considerations. In order to not have such a info divided into the README and the mediasoup website, I suggest moving that info the the "Installation" page in the website and add a link to it:

[code]

Same as [mediasoup-client](https://github.com/versatica/mediasoup-client) does in its README.

[2019-05-04 21:35] ibc commented on #37
Hi @jmillan, don't forget this. Due the usage of `std::regex`, gcc >= 4.9 is required. It must be documented and, if possible, the CMakeList should forbid gcc < 4.9 (something like [this](https://stackoverflow.com/questions/14933172/how-can-i-add-a-minimum-compiler-version-requisite)).

[2019-05-04 21:36] ibc commented on #36
So this is done. Closing.

[2019-05-04 21:36] #36 closed

[2019-05-06 07:56] #38 closed

[2019-05-07 07:23] Risingmobi opened #39 "Fatal error: api/media_stream_interface.h: No such file or directory"
Hi. I have download and compiled webrtc sources for Android OS. But when I am trying to compile mediasoup with links to WebRTC - I am getting this error:
/MediaSoupClient/libmediasoupclient/include/Consumer.hpp:6:69: fatal error: api/media_stream_interface.h: No such file or directory

This is my links to WebRTC sources
cmake . -Bbuild \
-DLIBWEBRTC_INCLUDE_PATH:PATH=$/media/0872773872772A183/Andr

[2019-05-07 08:15] ibc commented on #39
Remove the $ symbols.

[2019-05-07 08:15] #39 closed, assigned to nobody

[2019-05-07 14:41] ibc opened #40 "Create react-native-mediasoupclient"
Instead of using the super outdated **react-native-webrtc** (which poorly implements a WebRTC API of 2013) we should create **react-native-mediasoupclient** (based on libmediasoupclient, of course).

Let's this issue stay here until we initiate the new project.

[2019-05-07 15:00] Sharcoux commented on #40
Would this be just an implementation of webrtc for react-native, or an implementation of webrtc specially designed for mediasoup?

[2019-05-07 15:26] ibc commented on #40
libmediasoupclient is not a "generic" WebRTC stack. It exposes a [C++ API](https://mediasoup.org/documentation/v3/libmediasoupclient/api/). By using libmediasoupclient plus some Java/ObjC kung-fu plus some react-native JS, we can build `react-native-mediasoupclient` which, as any other react-native library, would expose a JS API. Such a JS API should be similar to the [JS API](https://mediasoup.or

[2019-05-07 15:43] Sharcoux commented on #40
:/
Wouldn't it be much better to create a react-native project that would expose an API identical to the webrtc API we have on the web?

By the way, `react-native-webrtc` is not that far from this goal in their last version. There is just that terrible management of the tracks which sucks and needs to be fixed.

[2019-05-07 15:52] ibc commented on #40
Definitely that's a legit approach. I'm not against that.

And a super outdated API from 2013.

[2019-05-07 17:20] Sharcoux commented on #40
I believe that the last versions fixed most of that. I used to have a bridge between their api and the browser api but I could remove it all when I updated last week. But I'm using only some part of the api so maybe the rest didn't evolve.

[2019-05-07 17:23] ibc commented on #40
The exposed API still relies on streams (like the original WebRTC API in 2013). Neither track based API nor transceiver API. It has evolved nothing IMHO.

[2019-05-07 22:03] Sharcoux commented on #40
Ok. We are not talking about the same thing. Then you are probably right.

Le mar. 7 mai 2019 à 19:23, Iñaki Baz Castillo <notifications@github.com> a
écrit :

[2019-05-08 14:23] izjumovfs opened #41 "Will you provide the sources for flutter?"
Hi. Are you planning to provide sources for flutter?

[2019-05-08 14:54] Risingmobi opened #42 "Is it possible to compile mediasoup v3 for usage in Android project?"
Hi. I am trying to compile and use mediasoup client library and then use it im my Android project
I am wondering if it is possible at all?
According to the documentation - to compile mediasoup - at first we need to compile webrtc and provide paths to webrtc sources and binaries to the CMake script of mediasoup
But the documentation talks us to compile webrtc as a static library (for desktop platfo

[2019-05-08 20:00] ibc commented on #41
No idea what flutter is, sorry. Anyway, please use the mediasoup mailing list for questions or proposals:

https://mediasoup.org/support/

[2019-05-08 20:00] #41 closed, assigned to nobody

[2019-05-09 07:32] jmillan commented on #42
Hi,

We tested libmediasoupclient in Linux, MacOS and Windows platform. We'll document how to build it in mobile platforms as soon as we test it.

[2019-05-09 12:41] Risingmobi commented on #42
Okay. Thank you. Will be waiting for your response. I really need to implement libmediasoup client on Android OS and will be very pleased for you

[2019-05-09 12:50] ibc commented on #42
We do not have much experience in Android/iOS development, so our "response" may take long (until for some reason we need to enter into that world). So if you could contribute by checking the required changes in the CMakeList.txt etc to use dynamic libs it would be great. Definitely we don't have time/resources to maintain everything and test it in all possible platforms and scenarios and cannot b

[2019-05-09 14:39] Eldorado3 opened #43 "How to build libmediasoupclient for Windows?"
Hi,

I am trying to build libmediasoupclient for Windows on a Windows 10 machine. I have successfully built webrtc.lib in the m73 branch, but when I built libmediasoupclient I got a lot errors.

José mentioned in the other issue that libmediasoupclient has been tested on Windows. Is there any documentation about how to do it?

Thanks a lot!

[2019-05-09 14:41] ibc commented on #43
It's been indeed built on Windows, but not by us. It may need some kind of kung-fu with Visual Studio and all that stuff we just have never used, so cannot help much :(

I'll close this issue because there is nothing we can add. If you get it working and want to contribute just write here how you got it and we'll document it.

Thanks.

[2019-05-09 14:41] #43 closed, assigned to nobody

[2019-05-09 14:47] jmillan commented on #43
@Eldorado3, as @ibc says we have not tested in Windows ourselves.

AFAIK, these are some flags to be set in your CMakeLists.txt:

[code]

I hope it helps

[2019-05-09 14:49] Eldorado3 commented on #43
@jmillan thanks a lot for the info, I'll give it a try. :)

[2019-05-10 02:20] Eldorado3 commented on #43
@jmillan I've successfully built libmediasoupclient on Windows with the suggested changes made to CMakeLists.txt. Thanks a ton! 👍

[2019-05-10 03:33] pcgpcgpcg commented on #42
I think there are two way for Android:
(1) manual compile webrtc Android,then you get libpeerconnection_so.so and libwebrtc.jar
     manual add libmediasoup's cpp code and let it call libpeerconnection_so.so
(2) add jni wrapper for libmediasoup's cpp code ,call everything on the Java layer.
     The reason is webrtc android's hw codec and camera2 interface etc..... lauch on the java layer

[2019-05-10 07:35] jmillan commented on #43
Glad to hear that,

I'll keep this issue open until I document it later today.

[2019-05-10 18:11] Risingmobi commented on #42
I will be very glad to make contributions and help you for crating mediasoup library for Android. But I don't know from what point to start. I have compiled the libs - but when I am starting linking them into my C++ code - to create a wrapper between C side and Kotlin side - I have lots of exceptions. So I need a little push (an advice) about how to compile them to be used in GreenRobot(

[2019-05-10 18:15] ibc commented on #42
If we had to learn about Kotlin and GreenRobot (no idea what that is) in order to help you, then we'd not need you to contribute :)

The thing here is that we just don't know about that, so we cannot provide "a little push" like if we already knew about it.

[2019-05-10 18:16] Risingmobi commented on #42
Oh!! I didn't think about this) So you are talking about - not to compile mediasoup by itself?
So the basic idea - compile webrtc and libpeerconnection? Then link them into android's native project, copy mediasoups code directly into the project - and then starting making the wrapper? And what about libsdptransform?

[2019-05-10 18:20] Risingmobi commented on #42
GreenRobot - Android)) I was kidding)) I have only one trouble - how to link the compiled libraries together. Android Studio - can see the dependencies between libraries. But when I am trying to compile my project - I am getting a lot of exceptions about unsatisfied dependencies. So this may be a good Idea - not to compile mediasoup client by itself, but import the code into my project, link it th

[2019-05-13 10:41] jmillan commented on #43
Hi @Eldorado3,

Not Windows users here. Could you maybe check and comment here what is each of those Windows libraries for? We would then add such comment to the doc for future users.

Thanks.

[2019-05-13 14:56] Eldorado3 commented on #43
@jmillan It seems that although the libmediasoupclient itself is built, I am still having problem to link it to an executable together with webrtc.lib. I need to spend more time to figure it out and will update later if succeeded.

[2019-05-14 11:19] Eldorado3 commented on #43
@jmillan Hi José,

I tested with different configurations and finally got it worked on Windows.

The followings are what I set to build on Windows. WEBRTC_WIN is needed by webrtc.lib, NOMINMAX is to avoid any potential conflicts with std::min and std::max, WIN32_LEAN_AND_MEAN is to exclude unnecessary windows API files.

target_compile_definitions(YourProyect PUBLIC
	$<$<PLATFORM_ID:Windows>:WEBRT

[2019-05-15 09:18] jmillan commented on #43
Thanks very much @Eldorado3

[2019-05-20 17:36] ibc opened #44 "Add L1T3 for H264 (libwebrtc >= M74)"
Chrome  74.0.3729.157 (desktop current stable) uses temporal layers in H264 and signals them via framemarking RTP extension. So, if the current libwebrtc version in libmediasoupclient also does it, it must announce "scalabilityMode: "L1T3" in H264, as in [mediasoup-client](https://github.com/versatica/mediasoup-client/commit/ba7facdcf2a029cbe98817f0115de7bca06f6997?ts=2).

NOTE: In mediasoup-clien

[2019-05-24 12:47] ibc opened #45 "Add parseScalabilityMode() tests"
Like in [here](https://github.com/versatica/mediasoup-client/blob/v3/test/test.js#L1146)

[2019-05-27 08:10] ibc commented on #44
Done in https://github.com/versatica/libmediasoupclient/commit/aadb675ea3cb90c57aadfcdcb8913826e307117d

[2019-05-27 08:10] #44 closed, assigned to jmillan

[2019-05-27 08:11] ibc commented on #42
Hi @Risingmobi, anything to add about this? we don't want to keep open issues that we cannot solve right now.

[2019-05-28 15:13] #42 closed, assigned to nobody

[2019-05-29 15:31] ibc opened #46 "Upgrade to libsdptransform 1.2.4"
Not useful for now, but it enables encrypted header extensions as per RFC 6904:

https://github.com/ibc/libsdptransform/commit/9af269c6a6e16608fd142144616ecd3d17295608?ts=2

[2019-05-29 21:10] #46 closed, assigned to nobody

[2019-05-29 21:13] ibc opened #47 "Enable VP9 SVC and keep user given encoding.scalabilityMode"
Like [here](https://github.com/versatica/mediasoup-client/commit/e17c6b22ab02ebc4b10f24d1ea53bcc6ffc7d46a?ts=2). This is needed for letting the app set VP9 SVC available layers (at least for now).

However, the `webrtc::RtpEncodingParameters` struct does not have a `scalabilityMode` field so we have a problem. Perhaps we may have a derived class with it?

In the other side, in order to have VP9 SV

[2019-05-29 21:14] ibc commented on #47
BTW libmediasoupclient should also set the VP9 SVC trial flag.

[2019-06-10 15:08] ibc opened #48 "Validate routerRtpCapabilities.codecs (mimeType field)"
Same as [here](https://github.com/versatica/mediasoup-client/commit/f7cf638187a3e68fc0005ae8c886a639954b66a6?ts=2).

[2019-06-10 15:44] jmillan commented on #48
done here 8bbaca6b43cb57c58287d055813fe82cda3f8d8a

[2019-06-10 15:44] #48 closed, assigned to jmillan

[2019-06-17 09:49] philjoseph commented on #40
So for now we cannot develop a react-native mobile apps to consume your JS mediasoupclient  and your mediasoup server ? Your JS lib will not work ok with the native Android and native iOS web rtc libraries https://webrtc.org/native-code/ios/ and https://webrtc.org/native-code/android

[2019-06-26 06:35] ibc opened #49 "Track changes in Chrome70 handler of mediasoup-client"
Some changes related to VP9 and encodings signaling (needed for signaling `dtx:true` when doing screen sharing):

https://github.com/versatica/mediasoup-client/commits/v3/lib/handlers/Chrome70.js?ts=2

[2019-07-22 21:49] ibc opened #50 "Implement probation Consumer"
As here: https://github.com/versatica/mediasoup-client/commit/49ecc6ddef333fa15fa23de42c6d75c1e68d409b

[2019-07-27 00:32] ibc opened #51 "Tests should not be built when integrating libmediasoupclient into another project"
When building a project with CMakeList and such a project has libmediasoupclient as dependency, the build process of the project also compiles libmediasoupclient tests:

[code]

I think it should not.

[2019-07-29 10:21] ibc commented on #51
Done in a30c1ea663b8bfd36e1a0331ab5b71a563d360ea.

[2019-07-29 10:21] #51 closed, assigned to ibc, jmillan

[2019-07-29 10:22] ibc opened #52 "Must make it work with CMake 3.7"
We require CMake >= 3.8. However not super old Linux distributions such as Debian Stretch come with 3.7.X. We should relax this requirement.

[2019-07-29 10:23] ibc commented on #47
Let's wait since libwebrtc will include support for per encoding `scalabilityMode` property "soon" (at least there is a working code done during the last hackathon).

[2019-07-29 10:24] ibc commented on #45
This was already done in https://github.com/versatica/libmediasoupclient/blob/v3/test/scalabilityMode.test.cpp.

[2019-07-29 10:24] #45 closed, assigned to jmillan

[2019-07-29 10:24] ibc commented on #26
This will be always a task, so let's close it.

[2019-07-29 10:24] #26 closed

[2019-07-29 10:25] ibc commented on #50
NOTE: If we implement transport-cc in mediasoup, we do not need such a probation Consumer. So let's put this issue on hold.

[2019-08-05 08:16] ibc opened #53 "Implement DataChannel"
This is, DataProducer and DataConsumer as in mediasoup-client JS lib.

[2019-08-05 08:17] ibc commented on #40
@saghul is working super hard in making react-native-webrtc a proper and modern WebRTC implementation for React-Native, so let's forget and close this topic :)

[2019-08-05 08:17] #40 closed, assigned to nobody

[2019-08-14 10:15] jaygno opened #54 "error: no matching function for call to ‘rtc::Thread::Thread()’"
arguments is not right.

[2019-08-14 10:22] ibc commented on #54
I hope you will provide **much** more information and details or we can do nothing but just close this issue.

[2019-08-15 08:32] jaygno commented on #54
` this->signalingThread.reset(new rtc::Thread());`
 the code in src/PeerConnection.cpp,  rtc::Thread request at least one argument.

[2019-08-15 09:30] ibc commented on #54
Are you sure you are using libwebrtc M73?

[2019-08-19 08:23] huangjingpei opened #55 "How to seperate the audio&video data of the diferent channel ?"
I want to get some channels the YUV(for video ) and PCM (for audio)　data, But
the peerconnection was created one only by libmediasoupclient , so I get the data by the function
 in webrtc::AudioTrackSinkInterface OnData
class AudioTrackSinkInterface {
 public:
  virtual void OnData(const void* audio_data,
                      int bits_per_sample,
                      int sample_rate,

[2019-08-19 08:28] ibc commented on #55
Please, as the README says this is just for issues. Use the mediasoup Discourse Group for questions.

[2019-08-19 08:28] #55 closed, assigned to nobody

[2019-08-19 08:40] huangjingpei commented on #55
I hold the one peerconnection , but I hold some consumers , I can't indentify the different consumer from the peerconnection,

[2019-08-19 08:41] ibc commented on #55
mediasoup Discourse Group, please.

[2019-08-23 12:30] Saku2 opened #56 "PeerConnection::Options not considered when selecting rtp parameters"
At the moment the Device.extendedRtpParameters is calculated in Device::Load() which does not have access to custom PeerConnection::Options. PeerConnection::Options can e.g. limit available codecs, which at the moment causes libmediasoupclient to select an unsupported codec.

This could be fixed without breaking source compatibility by calculating these parameters in Device::CreateSendTransport/De

[2019-08-23 12:42] ibc commented on #56
Which PeerConnection::Options may limit available codecs?

BTW I'm not against this change but it's not easy as it breaks current design (currently device extended capabilities need to be known **before** creating a transport and before creating producers or consumers on them.

[2019-08-23 12:46] Saku2 commented on #56
A custom encoder/decoder factory which supports limited number of codecs.

[2019-08-23 12:51] ibc commented on #56
That makes sense. BTW how does the custom encoder tell the PeerConnection which codecs it supports?

[2019-08-23 12:56] Saku2 commented on #56
There's webrtc::Video<Encoder/Decoder>Factory::GetSupportedFormats() which will be implemented by the custom encoder/decoder.

[2019-08-23 13:27] jmillan commented on #56
`Device::Load()` could simply have an optional [PeerConnection::Options](https://github.com/versatica/libmediasoupclient/blob/v3/include/PeerConnection.hpp#L105) argument so that the generated extendedRtpCapabilities are calcualted considering the provided encoder factories.

[2019-08-23 13:46] ibc commented on #56
I assume that, right now, we let the app pass its custom `PeerConnection::Options` (with a custom encoder for example) in `device.CreateXxxxTransport()`, is that right?

If so, it makes sense what you suggest: having `device.Load()` and optional `options` argument for passing a custom encoder and so on.

[2019-08-26 11:31] ibc commented on #54
Tested with libwebrtc `m73` branch. It works. So you are not using `m73` branch as the documentation clearly states. You neither replied to this question, so closing issue.

[2019-08-26 11:31] #54 closed, assigned to nobody

[2019-08-26 11:35] ibc opened #57 "Issue receiving 3 Consumers"
As reported [here](https://mediasoup.discourse.group/t/failed-to-process-the-bundled-m-section/233) it seems that, when enabling more than 2 Consumers in a rev transport, libwebrtc does not like the SDP answer that it generates:

[code]

SDP remote offer:

<details>

[code]

</details>

SDP local answer:

<details>

[code]

</details>

[2019-08-26 13:22] ibc commented on #57
Confirmed that we are properly enabling Unified-Plan in libmediasoupclient. Otherwise, if we change this:

[code]

to this:

[code]

we get this obvious error:

[code]

[2019-08-26 13:40] ibc commented on #57
Ok, so the problem I see in the logs is this one:

[code]

I think that this is related to the default builtin "audio handler" that may be does not allow passing two remote tracks. @jmillan thoughts? may be the tests should use a fake/noop audio handler?

However the same happens if, instead of a second audio consumer, we add a second video consumer:

[code]

[2019-08-26 13:45] jmillan commented on #57
Definitely the test should not rely on a specific handler so it should use a fake one.

[2019-08-26 14:45] ibc commented on #57
Unfortunately using a `test/AudioDeviceDummy.hpp` does not fix the issue:

https://github.com/versatica/libmediasoupclient/commit/dc1ebf86976564a63cf98c0672427a9fc2dd1227?ts=2

[2019-08-26 21:14] ibc commented on #57
We should check this [project](https://github.com/mpromonet/webrtc-streamer/blob/master/src/main.cpp) and how it uses `webrtc::AudioDeviceModule::kDummyAudio` (not sure if 100% related).

[2019-08-26 21:28] ibc commented on #57
BTW libwebrtc provides a `FakeAudioDeviceModule` in `modules/audio_device/include/fake_audio_device.h`:

[code]

[2019-08-26 22:46] ibc commented on #57
Ohhh, this is the remote SDP offer generated by libmediasoupclient. It has 2 `m=audio` sections that are equal! I mean: they have the very same `a=ssrc` lines!!!

[code]

[2019-08-26 22:54] ibc commented on #57
And it was because it was using the same `audioConsumerRemoteParameters`.... stupid bug in the test unit. Work in progress.

[2019-08-26 23:14] ibc commented on #57
And this is fixed. The test unit was wrong (it was setting the very same consumer RTP parameters for second audio consumer, so same SSRC, CNAME, track.id, etc was being used. Now fixed.

There is no issue at all.

[2019-08-27 11:57] ibc commented on #57
Let's reopen it since it seems that the issue still happens (as reported [here](https://mediasoup.discourse.group/t/failed-to-process-the-bundled-m-section/233/17)) when receiving creating consumers with the following parameters:

[code]

[2019-08-27 12:00] ibc commented on #57
BTW huangjingpei, may I know what are those numeric `ids` you get? Why are they numeric (5242967, 8524214, 36081) instead of UUIDv4 string values as those generated in `consumer.id` in server side?

[2019-08-27 16:02] ibc commented on #56
@Saku2 this should be implemented in #58 in the branch "device-Load-peerConnectionOptions". Can you take a look to it?

[2019-08-27 16:03] #56 closed, assigned to nobody

[2019-08-27 16:04] ibc commented on #56
It's been merged into "v3" branch, so you can run just "git pull" and test.

[2019-08-27 16:09] ibc commented on #56
Here the documentation: https://mediasoup.org/documentation/v3/libmediasoupclient/api/#device-Load

[2019-08-28 09:31] huangjingpei commented on #57
I made some tests about 30+ times with v3demo.mediasoup.org server.  and I have not found some errors yet.
I will test more times again.

[2019-08-28 10:13] ibc opened #59 "Must review C++ `auto` usage and some crashes due to lack of checks"
I've done a tiny [code cleanup](https://github.com/versatica/libmediasoupclient/commit/b4a3910740300a0fac9b20cb0f4cd13909b4118e?ts=2).

There were lot of `auto` instead of `auto*` or instead of `auto&` (so they were doing a value copy). There may be more.

However, while doing it I've got random SIGABRT when running the tests. For example:

[code]

It happens in `MediaSection.cpp` line 374 if I us

[2019-08-28 10:16] ibc commented on #57
Where did you testing before when you encountered the issue? In a local demo? same as the mediasoup-demo? or did you modify it somehow?

[2019-08-28 11:51] huangjingpei commented on #57
YES , I run it in a local demo from https://github.com/versatica/mediasoup-demo.git,and I run it by README.md

Commit 1812de8d19df704a22c379f48e91a24f522f3560 (HEAD -> master, origin/v3, v3)
Author: Iñaki Baz Castillo <ibc@aliax.net>
Date:   Tue Jul 23 22:35:27 2019 +0200,

[2019-08-28 16:23] ibc commented on #57
If it does never happen with the official mediasoup-demo when consuming more than 2 remote producers in you libmediasoupclient based app, then I'd say that there is no issue. There is no reason to just fail in your local deployment of the demo (unless you have changed something and such a change produces a buggy behavior somewhere).

Can you share your libmediasoupclient based app to test it again

[2019-08-29 10:04] huangjingpei commented on #57
I wanna to share the source code ,but the code depends libraries  boost , webrtc m74 branch  and etc.

I can show main source code:

<details>

#include <iostream>
#include <string>

#include "RoomClient.hpp"
#include "Utils.hpp"

using json = nlohmann::json;

class map_value_finder
{
public:
       map_value_finder(const std::string &cmp_string):object(cmp_string){}
       bool operator ()(const

[2019-08-29 13:01] ibc commented on #57
Have you been able to reproduce the issue in the online mediasoup-demo?

[2019-08-29 17:45] caseyyee commented on #42
@Risingmobi I am wondering if you had any luck with this.  I'm wanting to use mediasoup v3 on Android as well.  Any resources, tips and links you could share would be useful!

[2019-08-31 12:39] huangjingpei commented on #57
I use v3demo as the server, there is no problem with the test.
Then I set up the mediasoup-demo server test on a new machine and found no problems.
And then, I tested it on my machine again, mediasoup-demo is also running on this machine, the problem still exists.

So is it caused by the browser, mediasoupclient client and server on the same computer when I tested it?
I look forward to your answer

[2019-08-31 21:17] ibc commented on #57
Let's focus on the only difference we see at this moment, which is the fact that it just fails for you in localhost. I assume you use the mediasoup-demo server and app unmodified in localhost.

Please, do this:

* Make a fresh install in localhost of the mediasoup-demo.

* Reproduce the problem with libmediasoupclient (the third Consumer fails).

* Then modify this [line](https://github.com/versat

[2019-09-01 10:46] huangjingpei commented on #57
Modify it as you told it, then test it many times, no crash happens again, Is this a solution to the problem? could you tell me what is the reason?

[2019-09-01 10:49] ibc commented on #57
Please confirm that it fails in localhost without the modification and it never fails with the modification. Be as explicit as possible. Then we'll theorize.

[2019-09-01 11:05] huangjingpei commented on #57
I tested that there would be an abnormal crash about every 7 times before the modification.

After the modification,  I ran a total of more than 100 times and the program still did not terminate abnormally.

[2019-09-01 18:03] ibc commented on #57
So it may happen that, in localhost, RTP audio packets were reaching the PeerConnection in libmediasoupclient **before** the SDP O/A terminates so those RTP packets (and their SSRC) were wrongly associated to a previous m=audio section and, later, then the new Consumer was created and its SDP O/A attempted, it failed because such a SSRC was already assigned to a different m=audio section.

I've se

[2019-09-01 21:38] ibc commented on #57
The mediasoup-demo has been updated to always create server side consumers in paused mode and resume them once the remote client acknowledges that it's ready to receive the new RTP packets.

It has also been properly documented in the API documentation.

In addition, it has been announced in the mediasoup Discourse Group: https://mediasoup.discourse.group/t/create-server-side-consumers-with-paused

[2019-09-01 21:38] #57 closed, assigned to ibc, jmillan

[2019-09-16 06:04] penguinol opened #60 "crash when profile-level-id=640032"
It seems libsdptransform::parseParams decodes profile-level-id 640032 as integer but 4d0032 as string.
And  Utils::extractRtpCapabilities does not do any special handling for this.
It will crash at `aParameters["profile-level-id"] = aCodec["parameters"]["profile-level-id"].get<std::string>();`  when calling ortc::matchCodecs

[2019-09-16 09:31] #60 closed, assigned to nobody

[2019-09-16 09:31] jmillan commented on #60
Fixed, thanks for reporting @penguinol!

[2019-09-16 09:50] #37 closed

[2019-09-17 15:43] ibc opened #61 "Reuse SDP m= sections for sending media"
Instead of disabling (by setting `a=inactive`) sending transceivers, close them with remote m= port 0 to later reuse it when creating a new sending transceiver (via `pc.addTransceiver()`).

* [Related commit in mediasoup-client](https://github.com/versatica/mediasoup-client/commit/6a5fcbeb6af91919f88e1f5d24301e9792b6f5be?ts=2)
* [Related issue in libwebrtc](https://bugs.chromium.org/p/webrtc/issue

[2019-09-24 12:45] jmillan opened #62 "Add support for more architectures"
Current built system offers insufficient target architectures.

Just enhance it.

[2019-10-02 10:46] hhvdblom commented on #42
In day-to-day live I work as a Microsoft Software Architect/Developer.  If I use a library in my IDE I just reference libraries. In MediaSoup you have to load lots of files, compile those etc. I was wondering whats the Idea behind that?

[2019-10-02 11:09] ibc commented on #42
@hhvdblom: feel free to contribute to the project with a better build system. We don't use Windows and are fine with the CMake based system exposed by libmediasoupclient. You have paid nothing for this project so, instead of complaining, contribute to it if you need changes.

[2019-10-24 12:29] ibc opened #65 "Add `additionalSettings` in transport creation API"
As done in mediasoup-client v3 [here](https://github.com/versatica/mediasoup-client/commit/7dd6a2b61ff6ff9596d94a286118e21f24e2a3d5).

Also add documentation to libmediasoupclient API as [here](https://github.com/versatica/mediasoup-website/commit/7203b867c9870156a1817e80672f0da2aaa63155).

[2019-11-12 08:24] haiyangwu opened #66 "Confused about MSC_LOG_TRACE"
As referenced below,  why `MSC_LOG_TRACE` hash a check `Logger::logLevel == Logger::LogLevel::LOG_DEBUG` instead of `Logger::logLevel == Logger::LogLevel:: LOG_TRACE ` ? Is it on purpose or just a typo ?

https://github.com/versatica/libmediasoupclient/blob/0b8cfca19b59d92d38c15ce144adfb3e842d1bcb/include/Logger.hpp#L115

[2019-11-12 12:14] ibc commented on #66
Hi, it's on purpose and it's documented:

https://mediasoup.org/documentation/v3/libmediasoupclient/api/#Logger

so trace logs are just shown when log level is set to debug.

[2019-11-12 12:14] #66 closed, assigned to nobody

[2019-11-18 12:23] ibc opened #67 "Make producer.replacetrack() ignore if same track given"
As [here](https://github.com/versatica/mediasoup-client/commit/9c849d04f27a5dc07c74f4892f857c11f9b027a3#diff-be1b785c6c97be8edb2e3856884ccaa5R182).

And document it in the website (same as done for mediasoup-client in `produce.replaceTrack()` method).

[2019-11-22 11:08] penguinol opened #68 "crash when processing some special profile-level-id"
The library can not processing profile-level-id 42e034 correctly.
42e034 will be decoded as 42*10^34, and std::to_string can not convert it back to 42e034.
Maybe we should fix it in libsdptransform

This bug is similar to #60

[2019-11-22 12:18] ibc commented on #68
Should be fixed in 3.0.8 GIT tag. Thanks for reporting.

[2019-11-22 12:18] #68 closed, assigned to nobody

[2019-12-24 11:01] jessonliu opened #69 "when I closed the Producer, I found that the memory was not freed"
when I closed the Producer, I found that the memory was not freed!
I looked at the source code and found a problem!
the "void Sdp::RemoteSdp::DisableMediaSection" function is called  in "void SendHandler::StopSending(const std::string& localId)" implementation;
DisableMediaSection function Modify remoteSdp, However, the remoteSdp Is still recvonly;

[2019-12-24 11:04] ibc commented on #69
Where exactly is the memory leak and how is that related to "sendonly" at all?

[2019-12-24 11:07] jessonliu commented on #69
Class RemoteSdp
Function
void Sdp::RemoteSdp::DisableMediaSection(const std::string& mid)
{
	MSC_TRACE();

	// TODO: Should check that mediaSections.find(mid) exists.

	auto* mediaSection = this->mediaSections[mid];

	mediaSection->Disable();
}

mediaSection->Disable(); Failed to modify SDP

[2019-12-24 11:09] ibc commented on #69
Where is the memory leak?

Why have you closed the issue?

[2019-12-24 11:09] jessonliu commented on #69
About memory don't release, because there is no implementation RemoteSdp: : CloseMediaSection function.
When I create multiple producers and then close the producers, the memory is not freed

[2019-12-24 11:18] jessonliu commented on #69
I use libmediasoupclient to bridge object-c and make mediasoup for iOS!
When sharing the screen on iOS, we need to create a Producer. When ending the screen sharing, we need to close the Producer! I found that memory is not freed after repeated operations! So I view source found SDP m line will increase continuously, then I shall, in accordance with the js version implements the void SDP: : Remote

[2019-12-24 13:59] ibc commented on #69
The remote SDP grows indefinitely because closed closed m= sections are not reused, but just closed (with media port set to 0) and another m= section is created for any new Producer. However:

1. We have pending changes in libmediasoupclient to reuse closed m= sections.
2. Even if we don't do bullet 1, we should indeed `delete` the closed `MediaSection`.

[2019-12-24 17:30] ibc opened #70 "Modernize"
Working on `v3` branch.

Tasks:

* [x] Add more debug logs (for RTP parameters, etc).
* [x] Must validate all ORTC objects before using them. We may have separate validators that check mandatory fields, add default values and fill optional arrays with empty arrays, etc.
* [x] Update code to be in sync with mediasoup-client (this task involves most of the other open issues in GitHub).
* [x] Make `s

[2019-12-24 18:13] ibc commented on #70
clang-tidy says important things:

[code]

[2019-12-25 10:36] jessonliu commented on #69
Thank you for your reply, perhaps the recvonly modification failure problem mentioned above is not clear! So I took a screenshot and marked it, please have a look, I really found this problem in the development! Hope to contribute to mediasoup!

* https://github.com/jessonliu/PictureFile/blob/master/picture.jpg

[code]

this->sdpObject saves the "mediaSection->GetObject()",  is no the object Media

[2019-12-25 10:49] jessonliu commented on #69
`
void SendHandler::StopSending(const std::string& localId)
{
	MSC_TRACE();

	MSC_DEBUG("[localId:%s]", localId.c_str());

	auto jsonLocaIdIt = this->mapMidTransceiver.find(localId);
	if (jsonLocaIdIt == this->mapMidTransceiver.end())
		throw Exception("Associated RtpTransceiver not found");

	auto transceiver = jsonLocaIdIt->second;

	transceiver->sender()->SetTrack(nullptr);
	this->pc->RemoveTra

[2019-12-25 11:09] jessonliu commented on #68
I ran into this problem before and changed the code! It seems that the author has solved the problem now! I need to update it too!

[2019-12-25 20:31] ibc commented on #69
Yes, I see. Indeed a bug. Will be fixed in next version.

[2019-12-26 09:12] ibc commented on #69
Please, do not close the issue. It's not fixed.

[2019-12-30 09:24] ibc commented on #70
Eventually I get this error when running the tests (just a few times):

[code]

So it happens when calling `REQUIRE_NOTHROW(videoConsumer->GetStats());`.

**UPDATE:** More detailed crash:

[code]

Again: it happens randomly. It seems there is some race condition in some thread.

[2019-12-31 15:10] ibc commented on #67
Done in `v3` branch.

[2020-01-02 12:45] ibc commented on #50
Done in `v3` branch.

[2020-01-02 13:14] ibc commented on #70
We have a problem with the current API. This is `device.createSendTransport()` in mediasoup-client:

[code]

However this is `Device::CreateSendTransport` in libmediasoupclient:

[code]

We cannot extend the C++ method signature without breaking its API. Just wondering if we should have used an object from the very beginning instead of multiple arguments.

/cc @jmillan

[2020-01-02 16:11] jmillan commented on #70
As commented via phone lets create this new signature and also maintain the previous one:

[code]

[2020-01-15 10:09] jessonliu opened #71 "AnswerMediaSection::AnswerMediaSection has a problem!"
MediaSection.cpp

function AnswerMediaSection::AnswerMediaSection

[code]

[2020-01-15 10:20] ibc commented on #71
Please, describe what the problem is.

[2020-01-16 06:07] jessonliu commented on #71
when i create Producer, Set the codecOption to {"videoGoogleStartBitrate":4000},
I found it didn't work out,
I'm in the function std::pair<std::string, nlohmann::json> SendHandler::Send  print the answer,
`this->remoteSdp->Send(offerMediaObject, mediaSectionIdx["reuseMid"], sendingRtpParameters,
		  this->sendingRemoteRtpParametersByKind[track->kind()], codecOptions);`

		`auto answer = this->remo

[2020-01-16 12:33] #71 closed, assigned to nobody

[2020-01-16 12:34] ibc commented on #71
Thanks, fixed in https://github.com/versatica/libmediasoupclient/commit/07f160f9541b453f77742413cceb707241642edf.

However no new version will be released yet since we are in the middle of a refactor. You can use `v3` branch at your risk.

[2020-03-03 19:40] jmillan commented on #47
no such `scalabilityMode` in `webrtc::RtpEncodingParameters` as of today (m79)

[2020-03-03 19:57] jmillan commented on #65
in `libmediasoupclient`  `webrtc::PeerConnectionInterface::RTCConfiguration` is used for transport creation which includes all possible settings supported by `libwebrtc`.

[2020-03-03 19:57] #65 closed, assigned to jmillan

[2020-03-03 19:59] jmillan commented on #67
already done

[2020-03-03 19:59] #67 closed, assigned to jmillan

[2020-03-03 20:19] ibc commented on #47
It's supposed to be in 81 or more AFAIR.

[2020-03-04 10:27] jmillan commented on #29
done 6f43d86b6b94906d5a2a6a2c463351cc651888a5

[2020-03-04 10:27] #29 closed

[2020-03-04 17:30] tdrz commented on #53
Any ETA on this one?

[2020-03-04 17:40] ibc commented on #53
No. But [this](https://mediasoup.org/sponsors/#become-a-sponsor) helps.

[2020-03-05 08:53] jmillan commented on #61
Done b219aa51da32c07742ee4ca86a71245e88d60012

[2020-03-05 08:53] #61 closed, assigned to jmillan

[2020-03-05 08:54] jmillan commented on #69
This has been fixed b219aa51da32c07742ee4ca86a71245e88d60012

[2020-03-05 08:54] #69 closed, assigned to nobody

[2020-03-05 18:37] jmillan commented on #59
I've added more validators. IMHO all the API is now protected and all JSON params are checked.

[2020-03-05 23:02] ibc opened #76 "Delete codec.channels if video"
Please @jmillan, apply [this commit](https://github.com/versatica/mediasoup-client/commit/3d34f2643ea578d635898b4f7144bf518c7dad7e?ts=2) into libmediasoupclient. It fixes a regression due to recent changes that is causing several issues when people tries to interoperate with mediasoup.

[2020-03-06 17:17] jmillan commented on #76
done 420cc7b5dcf8e8999196bce125ee4a4d751d1db3

[2020-03-06 17:17] #76 closed, assigned to jmillan

[2020-03-10 11:51] ibc commented on #70
BTW added a bullet in the list above. cc/ @jmillan

[2020-03-11 23:32] ibc commented on #59
Let's close this.

[2020-03-11 23:32] #59 closed, assigned to jmillan

[2020-03-11 23:33] #50 closed, assigned to jmillan

[2020-03-11 23:33] #49 closed, assigned to jmillan

[2020-03-26 14:57] tdrz commented on #53
Hi guys, are you interested in PRs on this issue?

I've been making progress implementing this for a PoC of mine. So far I am able to send and receive text messages to/from the mediasoup-demo application using the mediasoup-broadcaster-demo. Haven't tried the binary data yet and it still needs a lot of cleaning up, some tests implementation and the like.

If you are interested in PRs, I could spen

[2020-03-26 15:16] jmillan commented on #53
Sure @copiltembel,

A PR would be very welcome

[2020-03-26 15:23] tdrz commented on #53
@jmillan Cool, will hopefully have it ready sometime next week.

[2020-03-26 15:25] jmillan commented on #53
Thanks a lot, will happily review it. We are (mediasoup authors) now quite busy these days, so take your time.

[2020-03-30 14:58] tdrz commented on #70
Picking up on the discussion above, just my 2 cents:

If you want to go more in the direction of having a similar API with mediasoup-client, you will lose some of the opportunities that the (c++) language offers. Take for example the "produce" event vs. the OnProduce() callback. Since OnProduce() is pure virtual, the user has to implement it, otherwise the user's code won't compile. The mediasoup-

[2020-03-30 15:09] ibc commented on #70
What is the purpose of calling `transport->Produce()` if your app is not listening for the "produce" event? In fact, mediasoup-client will **throw** if you call `transport.produce()` if you did not add a listener for the "produce" event.

[2020-03-30 15:24] tdrz commented on #70
True, but it will throw only at runtime. C++ won't even build.

Of course there's no logic in calling Produce without listening on the "produce" event. But since you can enforce it at compile time, it might make your library a bit more resilient (and possibly avoid some questions on the forums).

[2020-03-30 15:30] ibc commented on #70
I don't understand your point now. In fact you said:

now you say:

and that's exactly what we do now. Mandate the user to define `onProduce`. Otherwise it won't compile.

[2020-03-30 15:39] tdrz commented on #70
I'm saying that there is a difference of behavior between mediasoup-client and libmediasoup.

Anyway, not important. It's good that you mandate the implementation of OnProduce().

[2020-04-19 11:30] haiyangwu opened #79 "Bug about range of uniform_int_distribution ?"
https://github.com/versatica/libmediasoupclient/blob/e91e83876f00779599772b26015e2e5c520fda54/include/Utils.hpp#L68

The comment means the range is `[min, max)`

but according to [Produces random integer values i, uniformly distributed on the closed interval [a, b]](https://en.cppreference.com/w/cpp/numeric/random/uniform_int_distribution), the range is `[min, max]`

On Android,  it will reach the

[2020-04-22 09:57] ibc commented on #79
Do you mean that it should be this instead?:

[code]

[2020-04-22 13:10] haiyangwu commented on #79
@ibc  Yes, I've changed in my local build for android, but not sure about other platforms.

[2020-04-22 13:27] ibc commented on #79
I don't think this is platform dependant. This is a clear bug. @jmillan ?

[2020-04-22 13:28] #79 closed, assigned to nobody

[2020-04-22 13:28] ibc commented on #79
I've fixed it in "v3" branch.

[2020-04-22 14:10] jmillan commented on #79
Yeah, it's correct 👍

[2020-04-25 09:13] foobra opened #80 "Crash On Consumer Close"
Version: 3.0.8 tag

Device:
Android 10,level 29 arm64-v8a, used by mediasoup-client-android

BT:
#00 pc 000000000006f06c /apex/com.android.runtime/lib64/bionic/libc.so (abort+160) [arm64-v8a]
2 #01 pc 0000000000971820 libmediasoupclient_so.so abort_message (/Volumes/Android/buildbot/src/android/ndk-release-r21/external/libcxx/../../external/libcxxabi/src/abort_message.cpp:76) [arm64-v8a]
3 #02 pc

[2020-04-25 10:13] foobra commented on #80
Sorry, it's mediasoup-client-android 's crash, close it

[2020-04-25 10:13] #80 closed, assigned to nobody

[2020-04-28 15:38] sltruman opened #81 "VideoSinkInterface::OnFrame() does not been called when I was trying consume a video stream."
![image](https://user-images.githubusercontent.com/12881971/80507212-30d58780-89a9-11ea-8de8-3cadd763d318.png)

[2020-04-28 15:45] ibc commented on #81
Please, do not report screenshots. Also, we do nothing with VideoSinkInterface. That's libwebrtc business.

[2020-04-28 15:45] #81 closed, assigned to nobody

[2020-04-28 15:46] jmillan commented on #81
How does this relate to libmediasoupclient?

If you have a libwebrtc specific question please ask in the corresponding mailing list or bug tracker. libmediasoupclient does not handle that.

For libmediasoupclient specific questions use the discourse group.

[2020-04-30 01:59] xiawenq opened #82 "fake_audio_capture_module.o not exists in the libwebrtc m79 branch"
Hi Everyon,

when i follow the document [libmediasoupclient v3 Installation](https://mediasoup.org/documentation/v3/libmediasoupclient/installation/),  Create the C++ libraryes,    there is good to compiled libwebrtc project. But I got a error message when build the libmediasoupclient cmake project, It say fake_audio_capture_module.o can't be found. Actually the ${LIBWEBRTC_BINARY_PATH}/pc/pc_test

[2020-04-30 10:54] jmillan commented on #82
Please open a topic in our discussion channel.

https://mediasoup.discourse.group/c/mediasoup-libraries/

[2020-04-30 10:54] #82 closed, assigned to nobody

[2020-05-02 09:08] sltruman commented on #81
you are right and I found that just was coding mistake.

[2020-05-16 15:06] haiyangwu opened #83 "Duplicate a=mid value '2', what is `Consumer for RTP probation` for ?"
Recently, I was trying to solve this bug https://github.com/haiyangwu/mediasoup-client-android/issues/23,  but found `probatorConsumer` leads to this error (Duplicate a=mid value '2').

Related code is

from

https://github.com/versatica/libmediasoupclient/blob/cc511b8c4904ab86c82ba7626a1ddcba4e063d80/src/Transport.cpp#L375

to

https://github.com/versatica/libmediasoupclient/blob/cc511b8c4904ab86

[2020-05-16 19:56] jmillan commented on #83
Hi @haiyangwu,

Can you please paste here logs with SDP offer/answer so we can see the duplicated mid?

[2020-05-16 19:58] jmillan commented on #83
Or at least tell me the steps to reproduce it so we can test it.

[2020-05-17 02:21] haiyangwu commented on #83
Thx @jmillan,

[dup.log](https://github.com/versatica/libmediasoupclient/files/4639530/dup.log)  This a whole trace log, it's the `answer SDP` duplication occurs, line 3053 and line 3072 are both `a=mid:2`, the first one is for `probator`.

Android client joins a two users room will reproduce it.

[2020-05-17 08:16] ibc commented on #83
Which libmediasoupclient version are you using? v3 branch is not ready yet for a new stable version.

[2020-05-18 03:26] haiyangwu commented on #83
@ibc  Ok... and it's v3 branch @3e0d65e1ed6a1b8da168699a7555f9f71faa322d, I'll do some workaround change and sync until the new stable version ready.

[2020-05-18 07:20] jmillan commented on #83
Reopened, this is an issue to be solved.

[2020-05-19 07:20] #83 closed, assigned to nobody

[2020-05-19 07:22] jmillan commented on #83
@haiyangwu,

The issue has been solved.

It would be great if you could give it a try. Thanks.

[2020-05-31 04:00] hhhhqszka commented on #43
hi @Eldorado3 @jmillan , I've successfully built libmediasoupclient on Windows10 with vs2017 with your suggested changes made to CMakeLists.txt commented on 14 May 2019. Thanks a ton! 👍
But  i m still having only 3 errors  to link it to my project together with webrtc.lib.
all very similar errors like this:

**mediasoupclient.lib(Utils.obj)** : error LNK2019: **unresolved external symbol**
class n

[2020-05-31 06:19] hhhhqszka commented on #43
OK it's my fault, sdptransform.lib need to be added

[2020-06-01 10:25] DinuNuta opened #86 "Failed to set remote offer sdp: Duplicate a=mid value '2'."
It happen whem i'm trying to receive 2 and more consumers!
"
Receive: message
SocketNotificationResponse(method: EBSWebRTCiOS.Methods.newConsumer, payload: Optional({
  "kind" : "audio",
  "appData" : {
    "peerId" : "5e900aad9373cc2d9546806d",
    "source" : "mic"
  },
  "type" : "simple",
  "peerId" : "5e900aad9373cc2d9546806d",
  "id" : "a8c5c217-f7d4-4896-8732-97617679c52b",
  "producerPaused

[2020-06-01 11:09] ibc commented on #86
Not here please, there is a forum to ask questions and you did read it when you ignored the issue template.

[2020-06-01 11:09] #86 closed, assigned to nobody

[2020-06-08 09:00] iQuick opened #87 "invalid codec.mimetype"
I compile and run on the android system (cpu v7a) and report an error！

invalid codec.mimetype

Related code
[code]

[2020-06-08 09:01] ibc commented on #87
mediasoup forum, please, not here.

[2020-06-08 09:01] #87 closed, assigned to nobody

[2020-06-16 03:31] asok00000 opened #88 "Under windows 10, will crash when loadDevice"

[2020-06-16 06:07] #88 closed, assigned to nobody

[2020-06-26 07:47] im-sj opened #89 "Does not build on Ubuntu 18.04"
Trying to follow instructions at: https://mediasoup.org/documentation/v3/libmediasoupclient/installation but get errors:

.....
/usr/include/c++/7/bits/basic_string.h:6507:3: note:   ‘std::__cxx11::stod’
/home/sumitj/bodyline/third_party/libmediasoupclient/src/Consumer.cpp: At global scope:
/home/sumitj/bodyline/third_party/libmediasoupclient/src/Consumer.cpp:18:14: error: ‘string’ in namespace ‘w

[2020-06-26 13:39] jmillan commented on #89
I can't spot the issue on the top of my head.

Have you tried compiling libwebrt with `use_custom_libcxx=false`?

https://mediasoup.org/documentation/v3/libmediasoupclient/installation/#linkage-considerations-2

[2020-06-26 13:49] jmillan commented on #89
Please try with a higher CMake version, like 14. We are will enhance the build process to support older CMake versions.

https://github.com/versatica/mediasoup-broadcaster-demo/issues/2

Closing the issue. If you have further questions use the [forum](https://mediasoup.discourse.group/c/mediasoup-libraries)

[2020-06-26 13:49] #89 closed, assigned to nobody

[2020-07-03 05:58] penguinol opened #90 "Order of rtp encoding is different from sdp"
In `Utils::getRtpEncodings(const json& offerMediaObject)`, we use a map to save rtp ssrcs and rtx ssrcs, and finally put them into an array.
This will re-sort the ssrcs by ascending order, and maybe different from the orginal order in sdp.
And we also do not care about the order in ssrc-group:SIM or ssrc-group:SIMULCAST.

[code]

[2020-07-03 07:12] jmillan commented on #90
could you please change it to std::unordered_map and make a PR?

Could you write an example of an incorrect output?  we need to add tests for this.

[2020-07-03 08:51] ibc commented on #90
amazing catch

[2020-07-03 10:57] penguinol commented on #90
I'm not quite sure wether it's a bug.
Casue the ssrcs in sdp generated by libwebrtc are always sorted in ascending order.
I'm using these code to parse sdp gerenated by the other libs.

[2020-07-03 11:43] ibc commented on #90
It's a bug anyway, we should not depend on ssrcs to be incremental.

[2020-07-05 10:01] #90 closed, assigned to nobody

[2020-08-05 08:25] asok00000 opened #93 "No frame received after comsume video a few minutes later"
When consume video a few minutes later, webrtc will print

[2020-08-05 08:28] #93 closed, assigned to nobody

[2020-08-13 06:05] binxie33 opened #94 "DataConsumer::Close() crash"
In DataConsumer::Close() we should UnregisterObserver first before closing, otherwise it will crash.

[code]

[2020-08-20 07:31] 435129214 opened #96 "The Libmediasoupclient library USES Times' API /peer_connection_interface.h' File not Found in XCode"
I've done a little bit of research on this, and it's under the SRC of WebRTC, but this is the file for the libmediasoupClient library, and the header file for the WebRTC library doesn't contain this file, and the header file for the libmediasoupClient library doesn't contain this file, so what's the reason.

![image](https://user-images.githubusercontent.com/16433951/90730130-30675080-e2fa-11ea-84

[2020-08-20 07:33] ibc commented on #96
Please, use the mediasoup forum for questions. This is not a bug but a bad usage.

[2020-08-20 07:33] #96 closed, assigned to nobody

[2020-08-20 07:41] 435129214 commented on #96
what is the web address

[2020-08-20 07:46] ibc commented on #96
Search for mediasoup forum in Google.

[2020-08-20 07:54] 435129214 commented on #96
I have registered an account, but I am not allowed to post after logging in. What should I do?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "versatica/libmediasoupclient"                                                                                    <notification

[2020-08-20 08:07] ibc commented on #96
Your account is now validated and your message published in the forum.

[2020-08-29 02:56] 435129214 opened #97 "RTCMediaStreamTrack into webrtc: : MediaStreamTrackInterface error"
I'm in the process of converting this project to a MAC version, but I have a problem。
in SendTransport.mm
-(Producer *)produce:(id)listener track:(RTCMediaStreamTrack *)track encodings:(NSArray *)encodings codecOptions:(NSString *)codecOptions appData:(NSString *)appData {
NSUInteger nativeTrack = track.hash;

NSLog(@"kind：%@：%lud",track.kind);//video

Producer *producer = [TransportWrapper native

[2020-08-29 08:15] ibc commented on #97
Please use the forum for questions.

[2020-08-29 08:15] #97 closed, assigned to nobody

[2020-09-03 09:39] jackzhangkun opened #98 "error: use of enum ‘LogLevel’ without previous declaration"
libmediasoupclient/include/Logger.hpp:55:8:  warning: elaborated-type-specifier for a scoped enum must not use the ‘class’ keyword
   55 |   enum class LogLevel : uint8_t
      |   ~~~~ ^~~~~

libmediasoupclient/include/Logger.hpp:55:14: error: use of enum ‘LogLevel’ without previous declaration
   55 |   enum class LogLevel : uint8_t
      |              ^~~~~~~~

ubuntu version  20.04
gcc versio

[2020-09-16 10:07] ibc commented on #53
Can we close this?

[2020-09-16 10:07] ibc commented on #70
@jmillan can you please update checkboxes in the issue description above?

[2020-09-16 10:08] ibc opened #99 "Reuse closed m= sections in remote SDP offer"
Same as this: https://github.com/versatica/mediasoup-client/commit/c0da3089167440e53c57c87f8f235bcdd5f2bd8f

[2020-09-16 12:16] #53 closed, assigned to jmillan

[2020-09-16 13:34] jmillan commented on #70
It's up to date.

[2020-10-20 08:49] Harkanork opened #103 "VisualStudio 2017 errors"
When compiling the LibMediaSoupClient with VisualStudio 2017 x64, i have the following errors

3>Consumer.cpp
3>webrtc-84\src\rtc_base/string_to_number.h(63): error C2220: avertissement considéré comme une erreur - aucun fichier 'object' généré
3>webrtc-84\src\rtc_base/string_to_number.h(63): warning C4003: pas assez d'arguments pour l'appel de macro de type fonction 'max'
...
Sorry for the french

[2020-10-20 08:50] ibc commented on #103
Please don't send zip files. Make a PR instead. Thanks

[2020-10-20 08:50] #103 closed, assigned to nobody

[2020-10-20 10:09] Harkanork commented on #103
Hi,

Nice idea, but I can't:
remote: Permission to versatica/libmediasoupclient.git denied to Harkanork.
fatal: unable to access '
https://github.com/versatica/libmediasoupclient.git/': The requested URL
returned error: 403
Pushing to https://github.com/versatica/libmediasoupclient.git

Le mar. 20 oct. 2020 à 10:51, Iñaki Baz Castillo <notifications@github.com>
a écrit :

[2020-10-20 11:43] ibc commented on #103
You don't have permission to push to the libmediasoupclient project. Nobody has but just authors. Fork the project and create a Pull Request.

[2020-10-26 06:12] binxie33 opened #104 "DataProducer call RegisterObserver too late and may lose event"
In Transport.cpp, DataProducer is constructed with parameter dataChannelId.get(), this will force the DataProducer to be constructed after the datachannel is created. In the DataProducer constuctor it will register RegisterObserver, but this may be too late and this may cause the datachannel open event to be lost.

[code]

This is the debug log I captured when the issue happened:

[code]

Propsoed

[2020-10-30 08:25] jmillan commented on #104
Hi @binxie33,

It may happen that before the `Transport::OnProduceData()` callback returns something like the state change happens in the datachannel as you see. In this case the observer is not yet added to the datachannel.

In this case, if you need it, you may just call `DataProducer->GetReadyState()` once you get the `DataProducer` out of `Transport.ProduceData()`.

If you need to make sure no

[2020-10-30 08:25] #104 closed, assigned to nobody

[2020-12-02 03:27] KingTreeS opened #106 "How to make software AEC work when use libmediasoupclient?"

[2020-12-02 08:54] ibc commented on #106
Questions in the mediasoup public forum.

[2020-12-02 08:54] #106 closed, assigned to nobody

[2020-12-24 08:28] dongdan002 opened #108 "Server handshake response error: websocketpp.processor:20"
when i use websocketpp to connect to local host or mediasoup demo, the client connect failed with below err.

The websocketpp client failed:
--------------------------------------------------------------
[2020-12-24 15:57:53] [connect] Successful connection
[2020-12-24 15:57:53] [error] Server handshake response error: websocketpp.processor:20 (Invalid HTTP status.)
[2020-12-24 15:57:53] [fail] We

[2020-12-24 10:34] ibc commented on #108
Use the public mediasoup forum for questions.

[2020-12-24 10:34] #108 closed, assigned to nobody

[2020-12-25 08:42] DonkeyTomy opened #109 "Handler::GetNativeRtpCapabilities Can't get data.OnSuccess callback get Nothing."
Hi!
I use the newest MediaSoupClient Code & WebRTC Code(Git clone).
But I can't get any data at PeerConnection::CreateSessionDescriptionObserver:: OnSuccess() callback.
void PeerConnection::CreateSessionDescriptionObserver::OnSuccess(
	  webrtc::SessionDescriptionInterface* desc)
{
    MSC_TRACE();
    std::string out;
    desc->ToString(&out);
    MSC_WARN("OnSuccess(): %s. sdp: %s", out.c_str(),

[2020-12-25 08:45] ibc commented on #109
Please use the forum for questions.

[2020-12-25 08:45] #109 closed, assigned to nobody

[2021-01-06 13:43] WhitePi opened #110 "How to manually set the producer audio and video codec"
In mediasoup-client，I can specify the producer codec use ProducerOptions(‘codec’)；but libmediasoupclient cant！It has no ‘codec ’parameter？Do I need to adjust the source code or operate 'routerRtpCapability' and then load again?

[2021-01-06 13:45] ibc commented on #110
It's a missing feature in libmesiasoupclient, yes.

[2021-01-06 13:45] #110 closed, assigned to nobody

[2021-03-04 07:12] ploverlake opened #111 "Why setting local sdp and remote sdp in SendHandler::StopSending and RecvHandler::StopReceiving"

[2021-03-04 07:22] #111 closed, assigned to nobody

[2021-04-08 18:49] maxweisel opened #114 "Audio only plays back through the left channel (works fine in Chrome and vanilla C++ libwebrtc app)"
Heyo,

I've got a weird one that I can't seem to track down. When using libmediasoupclient, audio always plays back exclusively through the left channel. Both Chrome and my native C++ libwebrtc app that manually establishes the PeerConnection play back correctly.

My libmediasoupclient application and my vanilla C++ libwebrtc app link against the same static library for libwebrtc so there's no dis

[2021-04-08 19:05] ibc commented on #114
Not a libmediasoupclient issue. You may need to create your own PeerConnection factory instead of letting libwebrtc choose a default one based on OS, and libmediasoupclient let you pass such a factory.

[2021-04-08 19:05] #114 closed, assigned to nobody

[2021-04-08 19:42] maxweisel commented on #114
I am already doing this. I use the same PeerConnectionFactory in both versions.

[2021-04-08 20:02] maxweisel commented on #114
Any chance I can get this re-opened? I really think this is a bug in libmediasoupclient (or possibly the C++ sdptransform implementation). It seems SDP shows this as a mono stream, but it gets turned into a stereo one before being handed to the PeerConnection.

[2021-04-08 20:08] mstarich commented on #114
You might need to add something to your server.js file, under the
mediaCodecs section.  Mine looks like this:

                   {
                         kind      : 'audio',
                         mimeType  : 'audio/opus',
                         clockRate : 48000,
                         channels  : 2,
                         parameters :
                        {

[2021-04-08 20:18] maxweisel commented on #114
Thanks for the suggestion! Just gave that a shot,and I can see it showing up in the rtpParameters for the consumer on the client, but I'm still getting left-channel only whether the producer is Chrome or another libmediasoupclient client. Interestingly I now see that the stream is stereo before and after sdptransform does its thing, but still no change in output.

Do you use the built-in AudioDevi

[2021-04-08 20:25] maxweisel commented on #114
Still not entirely sure, but I can now replicate the bug without libmediasoupclient. I think @ibc is right here. I'll start with the AudioDeviceModule and work my way back up. Thanks for the help @mstarich!

[2021-04-08 21:19] ibc commented on #114
Making stereo work is not easy in libwebrtc and Chrome. Cooperation of both sender and receiver is needed. However mediasoup-client and libmediasoupclient provide with OPUS options in the produce() APo for stereo to work. You just need to enable it in sender side (better than in server side). Then consume as usual in your C++ app and check the remote SDP and local SDP to verify that there is stere

[2021-04-08 21:39] maxweisel commented on #114
Thanks for the info! I was actually able to hunt this one down and it was entirely within AudioDeviceModule on the Mac. My libmediasoupclient application was bound to a 4-channel interface, AudioDeviceModule didn't know how to interpret it and mixed everything down to a single channel. My vanilla C++ libwebrtc app was bound to a 2-channel interface and worked as expected.

I suspect Chrome works b

[2021-04-12 15:21] peetonn opened #115 ""parameters.profile-id" is a string instead of a number for VP9 in RTP Capabilities dictionary"
A C++ client can not produce nor consume VP9 streams due to mediasoup library rejecting RTP capabilities/parameters in `transport.produce(...)` and `router.canConsume(...)` calls.  The latter returns `false` while the former throws:

[code]

The problem seems to be the `parameters.profile-id` being a string instead of a number. When dictionaries are printed out side-by-side for JS and C++ clients,

[2021-04-12 15:38] ibc commented on #115
Problem is that, in libmediasoupclient, we are parsing `profile-id` as a string rather than as a number. We clearly [specify](https://mediasoup.org/documentation/v3/mediasoup/rtp-parameters-and-capabilities/#VP9) that it must be a number and that's what mediasoup expects to match it.

@jmillan, when we generate `RtpParameters` and `RtpCapabilities` in libmediasoupclient, are we "fixing" some of th

[2021-04-13 15:15] maxweisel commented on #70
Just to add to the OnProduce discussion. Maybe another way to look at it is with OnProduceData(). I don't use data producers or consumers and so it feels awkward that the compiler requires me to implement OnProduceData(). Especially because my implementation isn't just an empty method, it's a method that creates an exception that states that I haven't implemented data producers and returns a futur

[2021-04-13 15:43] tdrz commented on #70
True. But I would actually aim for an even more integrated API, if possible. The way I see it there should be only one callback to be implemented: "OnProduce()". Logically "data" is just another type besides video and audio that mediasoup (WebRTC) can transport, so to me it just feels more natural to have a generic callback to handle all of them.

[2021-04-13 15:57] maxweisel commented on #70
I disagree there. If mediasoup sent data via a Producer (as opposed to the separate DataProducer type), I'd agree with you, but they treat them as different paths, and I think that's the correct move given that libwebrtc treats audio/video and data channels separately almost in every layer. It maps nicely if you're working with clients/servers that aren't using mediasoup as well.

[2021-04-13 15:59] tdrz commented on #70
I didn't say the Producer and DataProducer should be consolidated into a single class. I was talking only about the callback, which is mediasoup specific.

[2021-04-13 16:04] tdrz commented on #70
Probably a corner case, but for someone who is ONLY using data producers/consumers might feel awkward that the compiler requires her to implement OnProduce().

[2021-04-13 16:11] maxweisel commented on #70
If they're separate producer classes, but use the same listener type, but the listener is expected to branch based on what type of producer is making the callback you've defeated the purpose of using types in C++ imo.

The solution I proposed would not require someone using "ONLY using data producers/consumers" to implement OnProduce() fwiw. If OnProduce and OnProduceData just had their own defaul

[2021-04-13 16:35] tdrz commented on #70
Yes, this was [my initial point](https://github.com/versatica/libmediasoupclient/issues/70#issuecomment-606051765). It would also bring it close to the mediasoup-client API, which doesn't enforce implementation of the callbacks.

Unsure if I understand the point. A branching will be needed on the server side to choose between produce() and produceData(), not on the C++ client side.

But thinking a

[2021-04-23 08:58] ibc commented on #115
@peetonn can you try this branch, please?

[2021-04-23 16:14] #115 closed, assigned to nobody

[2021-04-26 02:41] lihualin1688 opened #117 "New consumer joins, receive transport disconnected"
When a new consumer joins the meeting, the receive transport will disconnected. Sometimes it will connected quickly, sometimes it will not connect. When it fails, all the videos and audio will not be received, especially Is to create multiple consumers continuously.

[2021-04-26 06:34] #117 closed, assigned to nobody

[2021-06-03 08:10] wanjunfumy opened #120 "Which version of WebRTC can be used in 3.1.5?"
Brothers，help me p!
m79 or m84 or others!
tks

[2021-06-03 08:11] ibc commented on #120
HEY BROTHER, USE THE FORUM

[2021-06-03 08:11] #120 closed, assigned to nobody

[2021-06-03 10:30] wanjunfumy commented on #120
https://mediasoup.discourse.group.
tks, bro

[2021-08-13 20:23] richmonkey opened #124 "Transport produce method must be called in thread"
Because Transportlistener->onProducer must access network, so Transport.produce must be called in thread.
It's not a issuse, but as a library, it's not very good.
Can split transport.produce  into two step.
1. sendResult = transport.prepareProduce(params...);
2. request  server,  transport produce(sendResult...);
3. if request success, got producerId from server, call native transport.produce(prod

[2021-08-13 21:56] richmonkey commented on #124
Need more work to do,
Handler.SetupTransport is another async method,
Only if precreate local dtlsParameters is possible, the target is possible.

if device.createSendTransport() can get local dtlsParameters
after createSendTransport, request server connectTransport with local dtlsParameters .
last transport.produce

[2021-08-13 22:02] richmonkey commented on #124
How to  get local dtlsParameters in the step device.createSendTransport()?
in handler create peerconnect, add transceiver, createoffer, get dtlsparamters from localsdp, close peerconnection. save the local dtlsParamters
in last produce step, when after createoffer, modify the sdp's dtlsparamters field with saved local dtlsParamters,  setlocaldescription with the changed sdp.
Is it possible?

[2021-08-13 22:13] richmonkey commented on #124
My opinion:library's listener is async, it's complex for caller, also not good smell.

[2021-08-15 05:08] snnz commented on #124
Actually, calls to Transport.produce should be queued somehow, otherwise the handler may try to connect the transport more than once, not to mention that internal manipulations with sdp are not thread-safe.

[2021-08-15 05:47] richmonkey commented on #124
“calls to Transport.produce should be queued somehow”， I know this.
meidasoupclient is not threadsafe.
I want to express:
So for simple, call meidasoupclient always in one thread,
mediasoupcliennt can't be called in ui thread, because Transport.produce is sync method and long time(access network).

[2021-08-15 09:04] ibc commented on #124
This is not a bug. This is by design. Nobody said that libmediasoupclient can be used in UI thread. Please let's use the mediasoup forum for further discussions.

[2021-08-15 09:04] #124 closed, assigned to nobody

[2021-08-23 12:29] ibc opened #126 "RecvHandler::ReceiveDataChannel() is wrong"
As stated in the [forum](https://mediasoup.discourse.group/t/why-arent-sctp-paramaters-passed-into-transport-consumedata/3200/6), the `RecvHandler::ReceiveDataChannel()` implementation of libmediasoupclient is wrong. It does not read `streamId` from given `sctpStreamParameters` (there are no given `sctpStreamParameters`) but increments it locally.

* In mediasoup-client `Chrome74.ts` handler:
[cod

[2021-08-23 14:11] jmillan commented on #126
This passed unnoticed when DataChannels were introduced into libmediasoupclient. Working on it.

[2021-08-23 14:22] tdrz commented on #126
Sorry for that!

[2021-08-23 22:30] jordaneckhardt commented on #126
Thank you, @jmillan! I am looking at [your code so far](https://github.com/versatica/libmediasoupclient/commit/12d748d4d020f33466246fd6aed137d640c441b1) and comparing it to the JS client, and I have two questions:

1. The JS client passes `sctpStreamParams` all the way down to the construction of the data channel. Instead, you pass in `streamId` and set the data channel's ID to equal `streamId`. S

[2021-08-24 07:14] jmillan commented on #126
Hi @jordaneckhardt,

Thanks for the comments. It's a work in progress branch.

[2021-08-24 08:50] #126 closed, assigned to ibc, jmillan

[2021-08-24 16:42] jordaneckhardt commented on #126
I see the completed PR does change `ProduceData`. Thank you.

[2021-09-23 21:28] GEverding opened #130 "Not propagating maxaveragebitrate in Mediaselection"
it appears that `maxaveragebitrate` isn't propaged to the sdp codec options. The js code does set it [here](https://github.com/versatica/mediasoup-client/blob/4aa873afa6be1469d11d34f1489a699c838ae081/lib/handlers/sdp/MediaSection.js#L148).

Would this prevent me from setting bitrate for opus?

[2021-09-23 21:39] ibc commented on #130
Please, use the forum for questions.

[2021-09-23 21:39] #130 closed, assigned to nobody

[2021-11-14 18:41] ibc opened #133 "Allow forcing local DTLS role"
Same as in https://github.com/versatica/mediasoup-client/commit/325cea2dcd21456c862feae52521c2cf7f2e450b

[2021-11-18 07:05] ethand91 opened #134 "Client cannot be built on an M1 chip Mac."
Link: https://mediasoup.org/documentation/v3/libmediasoupclient/installation/#Build-Examples

OSX Version: 11.6

After checking out the m84 branch and then running "gclient sync" command the following error occurs:
[code]

I know this is not fully related to mediasoup but it makes it not possible to build the libmediasoupclient on a mac with an M1 chip.

Anyone know a workaround or will the librar

[2021-12-04 21:15] ahmouse15 commented on #134
Have you tried using webrtc m94? libmediasoupclient was just updated to support it

[2021-12-09 03:05] Ripple-qin opened #137 "Unlimited increase of sdp information"
If the caller repeatedly switches the camera on and off 100 times, the sdp information of the callee will generate 100 m lines, 99 of which are inactive. Why not delete the inactive m lines to avoid unlimited increase of sdp information? it will slow down the parsing speed of sdp json.

_**why not remove close mediaSection from this->sdpObject?**_
[code]

should be change to ?

[code]

[2021-12-09 04:40] ibc commented on #137
Closed or inactive m= sections cannot me removed from a SDP. Please read the RFC that defines SDP.

[2021-12-09 04:40] #137 closed, assigned to nobody

[2021-12-09 05:34] Ripple-qin commented on #137
sorry to disturb you again. Why has this link changed? Isn't reuse similar to delete? @ibc
Same as this: versatica/mediasoup-client@c0da308

[2021-12-13 15:11] jmillan commented on #47
Already implemented. https://github.com/versatica/libmediasoupclient/pull/131

[2021-12-13 15:11] #47 closed, assigned to jmillan

[2021-12-13 15:12] jmillan commented on #94
does it actually crash currently?

[2021-12-13 15:14] jmillan commented on #98
Should not be an issue since the addition of this https://github.com/versatica/libmediasoupclient/blob/v3/include/Logger.hpp#L46

[2021-12-13 15:14] #98 closed, assigned to nobody

[2021-12-13 15:27] jmillan commented on #94
This should not be needed, otherwise we won't get the 'close' state changed from the underlaying datachannel.

More than that, if we get events from the underlaying datachannel after closing it, that would be a but in libwebrtc.

[2021-12-13 15:27] #94 closed, assigned to nobody

[2021-12-13 15:47] jmillan commented on #99
Done here https://github.com/versatica/libmediasoupclient/commit/3c3cb9455405bbda6c613d0f95cb953d5f576826

[2021-12-13 15:47] #99 closed, assigned to ibc, jmillan

[2021-12-13 15:49] jmillan commented on #52
Closing since Stretch is now oldold stable https://packages.debian.org/search?keywords=cmake

[2021-12-13 15:49] #52 closed, assigned to ibc, jmillan

[2021-12-13 16:22] jmillan commented on #133
Done https://github.com/versatica/libmediasoupclient/commit/222e843af173954367cc4b18adff05edc69cd14d

[2021-12-13 16:22] #133 closed, assigned to ibc, jmillan

[2022-01-05 20:13] GEverding commented on #134
I was able to build using master on m1.

[2022-01-07 06:21] ethand91 commented on #134
m94 fails with:
[code]

(non mediasoup issue)

[2022-02-04 19:02] MarekChleb opened #140 "Mac M1 fails to build while building tests"
# Steps to reproduce
OSX_VERSION: 12.1 Monterey

Via [tutorial](https://mediasoup.org/documentation/v3/libmediasoupclient/installation/) first install [depot tools](https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/depot_tools_tutorial.html#_setting_up) and then:
[code]

# Where is the bug

While doing `make -C build/`  we get:
[code]

# What worked

Based on di

[2022-02-16 11:40] Ripple-qin opened #141 "Support webrtc M98"
Hello, author, sorry to disturb you.
We want to upgrade the webrtc native library to M98. Does the corresponding libmediasoupclient already support it? If we upgrade libmediasoupclient to the latest release 3.3.0, Does the corresponding server mediasoup need to be upgraded? Do they have a corresponding relationship?
Thanks in advance for your answer

[2022-02-16 13:35] ibc commented on #141
Questions in the public forum, please.

[2022-02-16 13:35] #141 closed, assigned to nobody

[2022-05-28 15:01] jackwxs opened #143 "use libmediasoup why no callback msg？"
![image](https://user-images.githubusercontent.com/28855943/170830940-9bcce53e-8f66-4453-a902-5b1b773b5baf.png)
![image](https://user-images.githubusercontent.com/28855943/170830983-5095507a-7557-48b2-acff-e0a5e27cfe6e.png)

![image](https://user-images.githubusercontent.com/28855943/170830963-3b162591-5e12-4271-a498-7583188f0e53.png)

[2022-05-28 15:30] ibc commented on #143
Use the forum for questions.

[2022-05-28 15:30] #143 closed, assigned to nobody

[2022-05-30 14:20] jackwxs opened #144 "Check whether libmediasoup demo exists that supports push and pull streams"

[2022-05-30 14:57] #144 closed, assigned to nobody

[2022-07-22 15:04] h3poteto opened #145 "Cannot build on Linux with glibc 2.35"
I'm using Manjaro Linux, and when I build this client I got an error.

[code]

I guess this is due to glibc. According to this document: https://sourceware.org/git/?p=glibc.git;a=blob;f=NEWS;h=85e84fe53699fe9e392edffa993612ce08b2954a;hb=HEAD

Since 2.34 `MINSIGSTKSZ` is no longer constant. I'm using glibc 2.35.

[2022-09-04 12:34] h3poteto commented on #145
I'm waiting for the next release of https://github.com/ibc/libsdptransform/pull/22, after that I will update the library in this repository.
Could you please release the next version of `libsdptransform`? @ibc

[2022-09-23 03:24] orgotF opened #148 "Add support for FlexFEC"
I have added WebRTC's FlexFEC module to the Mediasoup，but I don't know how to enable the flexfec on the libmediasoupclient.
I just know it needs to add "WebRTC-FlexFEC-03/Enabled/WebRTC-FlexFEC-03-Advertised/Enabled", so what do I need to do next?

[2022-09-23 12:04] ibc commented on #148
This is a pure libwebrtc related question. Please ask in the corresponding forum.

[2022-09-23 12:04] #148 closed, assigned to nobody

[2022-11-16 03:35] evehal opened #150 "simple demo on win10 with link issue"
[code]

1>------ Build started: Project: MediaSoupProject1, Configuration: Debug x64 ------
1>main.cpp
1>G:\m94build\include\media\base\codec.h(1,1): warning C4819: The file contains a character that cannot be represented in the current code page (936). Save the file in Unicode format to prevent data loss
1>mediasoupclient.lib(mediasoupclient.obj) : error LNK2019: unresolved external symbol "__int

[2022-11-16 13:03] ibc commented on #150
I'm afraid it's not possible to help much here. No idea if the problem is due the way you build the app. Please ask in the mediasoup forum.

[2022-11-16 13:03] #150 closed, assigned to nobody